APP_NAME=Distributed Web Intelligence Search Engine
APP_ENV=development

REDIS_URL=redis://redis:6379/0

MONGODB_URL=mongodb://mongodb:27017
MONGODB_DATABASE=web_intelligence

ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_INDEX=web_intelligence

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

CRAWLER_REQUEST_TIMEOUT=10
CRAWLER_RATE_LIMIT=5